body,html{  /*加了html则看不到页脚*/
    margin: 0;
    padding: 0;

    width: 100%;
    height:100%;

}
/***********************BootStrap样式覆盖*********************************/
    .container{
        /*BootStrap容器*/
        margin: 20px 125px 0;   /*保持和页脚的距离*/
        min-height:100%;        /*使页脚一定位于容器底部*/
        overflow-x: hidden;
    }

    /************中部**************/
    .main{

    }
        .ma-img{
            /*用户头像*/
            border-radius: 100%;/*圆形*/

            width: 75px;
            height: 75px;
        }
        .ma-leftBox{
            /*左盒子*/
            margin: 50px 35px 50px 0;
        }
            .ma-leftBox-title{
                /*左盒子标题*/
                margin-top: 0;
                border-bottom: 1px solid #ddd;

                color: #6E7173;
                line-height: 2.7;
                font-size: 16px;
            }
            .ma-leftBox-content{
                /*左盒子内容*/
                margin-top: 10px;
            }
            .ma-leftBox-content a{margin: 0 5px 5px 0;display:inline-block;/*行内块级,有宽高,不换行*/}
            .ma-leftBox-content a:hover{text-decoration: none;/*下划线清除*/}

        .ma-right-articleList{
            /*右边文章列表*/
            border-left: 1px solid #eeeeee;
            margin: 0 0 0 11px;
            padding:0 0 0 100px;
        }
            .ma-right-articleList ul{margin-left: 60px;}
            .ma-right-articleList li{/*文章项*/padding-bottom: 15px;   font-size: 16px;   list-style-type: none;/*去除列表标点*/}
            .ma-right-articleList a{/*文章名链接*/letter-spacing: 2px;  color: #6E7173;  text-decoration: none;  }
            .ma-right-articleList span{/*文章日期*/padding-right: 20px;  color: #888;   }

        .ma-page{ /*分页*/  text-align: center;  }

    /************底部**************/
    .footer{  background-color:black;  }
        .fo-statement{
            /*底部声明*/
            margin: 85px 0 20px 150px;

            color:#777;
            font-size: 13px;

            display: inline-block;
        }
