 body{
     margin: 0;
     border: 0;
     padding: 0;

     background-image:url(../img/background.jpg);
 }
 .container{
     margin: 100px auto;
     padding: 10px 25px;
     box-shadow:3px 3px 35px #e2e2e2; /*左边阴影(水平(-左+右),垂直,模糊面积,颜色)*/


     width: 600px;
     height: 550px;

     background-color: white;
 }
 /*************************************************中部容器**************************************************************/
    /**************顶部**********************/
    .header{
        margin-bottom: 30px;
        text-align: center;
    }
    /**************中部**********************/
    .main{
        margin-bottom: 20px;
    }
        .ma-form-tab{
            /*form表单选项表*/
            margin-bottom: 25px;
        }
            .ma-form-tab label{
                /*标签*/
                padding:5px 3px;

                width: 150px;
                height: 20px;

                text-align: right;
                font-family: YouYuan;
                font-size: 18px;

                display:inline-block; /*行内块级,可以设置宽高,不换行*/
            }
            .ma-form-tab>input{
                /*输入框*/
                padding: 10px;

                width: 300px;
                height: 20px;
                font-family: KaiTi;

                font-family: "FontAwesome", sans-serif;
            }
            .ma-form-tab>i{
                /*打勾符号*/
                margin-left: 20px;

                color: #4CAF50;
            }
            .ma-form-tab>span{
                /*提示信息*/
                position: absolute;
                margin: 0 100px 0 200px;

                font-family: "Segoe UI";
                font-size: 12px;

                color: red;
                text-align: center;

                display: block;
            }
            .tab-authcodeButton{
                /*发送邮箱验证码按钮*/
                border: 1px;
                border-radius: 4px;
                padding: 7px 12px;

                width: 150px;

                color: #fff;
                background-color: #1b6d85;
            }
            .tab-authcodeButton.removeHover:hover{opacity:0.70;}/*给hover加一个class,jQuery可删除样式*/
            .tab-buttonlist{
                 border: 0;
                 border-radius: 4px;/*圆角*/

                 text-align: center;
             }
                .tab-buttonlist button{
                    border: 0;
                    border-radius: 4px;/*圆角*/
                    padding: 8px 12px;

                    width: 130px;

                    font-size: 15px;

                    color: #fff;/*白色*/
                }
                .tab-buttonlist button:hover{opacity:0.70}
                .tab-but-reset{ /*重置按钮*/  background-color: #0bb59b;  }
                .tab-but-submit{ /*提交按钮*/  background-color: #337ab7;  }
    /**************底部**********************/
    .footer{padding-right: 20px;}
        .fo-describe{
            /*底部描述*/

            text-align: right;
            font-size: 17px;

            display: block;
        }
