<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.IArticleDao" >

    <resultMap id="ArticleResultMap" type="com.blog.entity.Article" >
        <id column="a_id" property="id" javaType="int" jdbcType="INTEGER" />
        <result column="a_title" property="title" javaType="String" jdbcType="VARCHAR" />
        <result column="a_content" property="content" javaType="String" jdbcType="VARCHAR" />
        <result column="a_categories" property="categories" javaType="String" jdbcType="VARCHAR" />
        <result column="a_read" property="read" javaType="String" jdbcType="VARCHAR" />
        <result column="a_comment" property="comment" javaType="String" jdbcType="VARCHAR" />
        <result column="a_like" property="like" javaType="String" jdbcType="VARCHAR" />
        <result column="u_id" property="userId" javaType="int" jdbcType="INTEGER" />
        <result column="a_publictime" property="publictime" javaType="java.util.Date" jdbcType="TIMESTAMP" /><!--设置为DATE会丢失时分秒精度-->
    </resultMap>

    <sql id="ArticleColumn_List"> <!--Article列名-->
        a_id,a_title,a_content,a_categories,a_read,a_comment,a_like,u_id,a_publictime
    </sql>

    <insert id="insertArticle" parameterType="com.blog.entity.Article">
        INSERT INTO article (a_title,a_content,a_categories,u_id,a_publictime)
        VALUES (#{title,jdbcType=VARCHAR},
                #{content,jdbcType=VARCHAR},
                #{categories,jdbcType=VARCHAR},
                #{userId,jdbcType=INTEGER},
                #{publictime,jdbcType=TIMESTAMP}) <!--使用DATE会丢失时分秒精度,所以使用TIMESTAMP-->
    </insert>

    <delete id="deleteArticle" parameterType="java.lang.Integer">
        DELETE FROM article
        WHERE a_id = #{articleId,jdbcType=INTEGER}
    </delete>


    <select id="selectArticleById" parameterType="java.lang.Integer" resultMap="ArticleResultMap">
        SELECT <include refid="ArticleColumn_List" />
        FROM article WHERE a_id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectReverseFiveArticle" resultMap="ArticleResultMap">
        SELECT <include refid="ArticleColumn_List" />
        FROM article ORDER BY a_publictime DESC LIMIT 0,5;
    </select>
    <select id="selectUserAllArticle"  parameterType="java.lang.Integer" resultMap="ArticleResultMap">
        SELECT <include refid="ArticleColumn_List" />
        FROM article WHERE u_id = #{userId,jdbcType=INTEGER} ORDER BY a_publictime DESC;
    </select>
    <select id="selectByUserIdByCategoryAllArticle"  resultMap="ArticleResultMap"><!--传入两个参数u_id,category-->
        SELECT <include refid="ArticleColumn_List" />
        FROM article WHERE  u_id = #{0} AND a_categories = #{1} ORDER BY a_publictime DESC;
    </select>



    <update id="updateArticle" parameterType="com.blog.entity.Article" >
        UPDATE article
        <set >
            <if test="title != null" >a_title = #{title,jdbcType=VARCHAR},</if>
            <if test="content != null" >a_content = #{content,jdbcType=VARCHAR},</if>
            <if test="read != null" >a_read = #{read,jdbcType=VARCHAR},</if >
            <if test="like != null" >a_like = #{like,jdbcType=VARCHAR},</if>
            <if test="comment != null" >a_comment = #{comment,jdbcType=VARCHAR},</if>
            <if test="userId != null" >u_id = #{userId,jdbcType=INTEGER},</if>
            <if test="publictime != null" >a_publictime = #{publictime,jdbcType=DATE},</if>
        </set>
        WHERE a_id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByIdArticleReadAddOne" parameterType="java.lang.Integer"><!--阅读数+1-->
        UPDATE article SET a_read = a_read + 1
        WHERE a_id = #{articleId,jdbcType=INTEGER}
    </update>

</mapper>