<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.IHighClassMastesDao" >
    <!--
        设计数据库表：
            CREATE TABLE highclassmastes(
                class_id INT  AUTO_INCREMENT primary key,         /*[用户id(自增)]*/
                class_name VARCHAR(10),                           /*[姓名]*/
                class_phone VARCHAR(15),                          /*[手机号]*/
                class_city VARCHAR(20) ,                          /*[目前居住地]*/
                class_area VARCHAR(50),                           /*[详细地址(单位或家庭)]*/
                class_postCode VARCHAR(10),                       /*[邮编]*/
                class_join VARCHAR(10),                           /*[参加同学(是/否)]*/
                class_traffic VARCHAR(10),                        /*[交通出行情况(自驾/大巴]*/
                class_money VARCHAR(10),                          /*[赞助金额]*/
                class_publictime DATETIME DEFAULT NOW()           /*[注册时间]*/
            )ENGINE = innoDB;
    -->
    <!-- 结果集 -->
    <resultMap id="BaseResultMap" type="com.blog.entity.HighClassMastes" >
        <id column="class_id" property="id" javaType="int" jdbcType="INTEGER" />
        <result column="class_name" property="name" javaType="String" jdbcType="VARCHAR" />
        <result column="class_phone" property="phone" javaType="String" jdbcType="VARCHAR" />
        <result column="class_city" property="city" javaType="String" jdbcType="VARCHAR" />
        <result column="class_area" property="area" javaType="String" jdbcType="VARCHAR" />
        <result column="class_postCode" property="postCode" javaType="String" jdbcType="VARCHAR" />
        <result column="class_join" property="join" javaType="String" jdbcType="VARCHAR" />
        <result column="class_traffic" property="traffic" javaType="String" jdbcType="VARCHAR" />
        <result column="class_money" property="money" javaType="String" jdbcType="VARCHAR" />

        <result column="class_publictime" property="publictime" javaType="java.util.Date" /> <!--不写jdbcType则可以返回时分秒精度-->
    </resultMap>
    <!-- 定义列数变量 -->
    <sql id="Base_Column_List" >
        class_id,class_name,class_phone,
        class_city,class_area,class_postCode,
        class_join,class_traffic,class_money,class_publictime
    </sql>

    <!--插入用户-->
    <insert id="insert" parameterType="com.blog.entity.HighClassMastes">
        insert into highclassmastes (class_name,class_phone,class_city,class_area,class_postCode,class_join,class_traffic,class_money)
        values (#{name,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR},
                #{city,jdbcType=VARCHAR},
                #{area,jdbcType=VARCHAR},
                #{postCode,jdbcType=VARCHAR},
                #{join,jdbcType=VARCHAR},
                #{traffic,jdbcType=VARCHAR},
                #{money,jdbcType=VARCHAR})
    </insert>


    <!--删除用户-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from highclassmastes
        where class_id = #{id,jdbcType=INTEGER}
    </delete>


    <!--查询用户-->
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap"  >
        select
        <include refid="Base_Column_List" />
        from highclassmastes
        where class_name = #{name,jdbcType=VARCHAR}
    </select>
    <!--查询所有同学的信息[返回一个list集合]-->
    <select id="selectAllMessage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM highclassmastes;
    </select>

</mapper>