<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.ICommentDao" >
    <!-- 结果集 -->
    <resultMap id="CommentResultMap" type="com.blog.entity.Comment" >
        <id column="c_id" property="id" javaType="int" jdbcType="INTEGER" />
        <result column="c_content" property="content" javaType="String" jdbcType="VARCHAR" />
        <result column="c_agree" property="agree" javaType="String" jdbcType="VARCHAR" />
        <result column="c_oppose" property="oppose" javaType="String" jdbcType="VARCHAR" />
        <result column="a_id" property="articleId" javaType="int" jdbcType="INTEGER" />
        <result column="u_id" property="userId" javaType="int" jdbcType="INTEGER" />
        <result column="c_publictime" property="publictime" javaType="java.util.Date"  /> <!--jdbcType="DATE"会丢失时分秒-->
    </resultMap>

    <!--Comment表的字段-->
    <sql id="Comment_Column_List" >
        c_id,c_content,c_agree,c_oppose,a_id,u_id,c_publictime
    </sql>

    <!--插入评论-->
    <insert id="insert" parameterType="com.blog.entity.Comment">
        insert into comment (c_content,c_agree,c_oppose,a_id,u_id)
        values (#{content,jdbcType=VARCHAR},
                #{agree,jdbcType=VARCHAR},
                #{oppose,jdbcType=VARCHAR},
                #{articleId,jdbcType=INTEGER},
                #{userId,jdbcType=INTEGER})
    </insert>

    <!--删除评论-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from comment
        where c_id = #{id,jdbcType=INTEGER}
    </delete>


    <!--查询评论-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="CommentResultMap"  >
        select
          <include refid="Comment_Column_List" />
        from Comment
        where c_id = #{id,jdbcType=INTEGER}
    </select>
    <!--查询文章最新一条评论【最新插入的1条记录】-->
    <select id="selectArticleLastComment" parameterType="java.lang.Integer" resultMap="CommentResultMap"  >
        select
          <include refid="Comment_Column_List" />
        from Comment
        where a_id = #{articleId,jdbcType=INTEGER}
        ORDER BY c_publictime DESC limit 1
    </select>
    <!--查询指定文章所有评论-->
    <select id="selectArticleAllComment" parameterType="java.lang.Integer" resultMap="CommentResultMap">
        select
          <include refid="Comment_Column_List" />
        from Comment
        where a_id = #{articleId,jdbcType=INTEGER}
        ORDER BY c_publictime DESC;
    </select>

    <!--修改评论(根据需求)-->
    <update id="updateByPrimaryKeySelective" parameterType="com.blog.entity.Comment" >
        update comment
        <set >
            <if test="content != null" >c_content = #{content,jdbcType=VARCHAR},</if>
            <if test="agree != null" >c_agree = #{agree,jdbcType=VARCHAR},</if >
            <if test="oppose != null" >c_oppose = #{oppose,jdbcType=VARCHAR},</if>
            <if test="articleId != null" >a_id = #{articleId,jdbcType=VARCHAR},</if>
            <if test="userId != null" >u_id = #{userId,jdbcType=INTEGER},</if>
        </set>
        where c_id = #{id,jdbcType=INTEGER}
    </update>
    <!--根据评论id,修改指定列的值[传入参数:(param1)commentId,(param1)columnName,(param3)value]-->
    <!--【动态传入列名值,statementType="STATEMENT"(非预编译),变量取值变为$(xxx)】-->
    <update id="updateCommentColumnValue" statementType="STATEMENT">
        update comment
        set ${param2} = ${param3}
        where c_id = ${param1}
    </update>
</mapper>